<% if !logged_in? %>
<div class="row">
  <div class="panel-body" style="max-width:400px;margin-left:auto; margin-right:auto;">
   <%= form_for(:user, url: signup_path) do |f| %>
    <%#= render 'users/error_messages' %>
<div class="form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
      </div>
 <div class="form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
      </div>
<div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
      </div>
 <div class="form-group">
      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>
      </div>
 <div class="form-group">
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label  "Check to get access to create seminars" %>
      <%= f.check_box :organizer %>
      </div>
      <%= f.submit "Create my account", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<%else%>

<p style="margin-top:20px;">You are already logged in </p>
<%end%>