<div class="container" style="margin-top:10%;">
  <% @seminars.each do |seminar| %>
    <div class="row">
      <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
        <ul class="event-list">
          <li>
            <time datetime="2014-07-20 0000">
              <span class="day"><%= seminar.start_date.strftime("%d")%></span>
              <span class="month"><%= seminar.start_date.strftime("%m")%></span>
              <span class="year">2014</span>
              <span class="time">12:00 AM</span>
            </time>
            <div class="info">
              <h2 class="title"><%= link_to seminar_path(seminar),class:"title" do %>
                  <%= seminar.title%>
                <%end%>
              </h2>
              <p class="desc"><%= seminar.description%></p>
              <ul>
                <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a></li>
                <li style="width:50%;"><span class="fa fa-money"></span> <%=number_to_currency(seminar.price,:unit => "€")%></li>
              </ul>
            </div>
            <div class="social">
              <ul>
                <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
                <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
                <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
<%end%>
