<%= link_to 'new seminar', new_seminar_path%>
<%= link_to'Εγγραφή', new_user_registration_path%>
<%= link_to 'Συνδεση', new_user_session_path%>


<div class="container">
 <% @seminars.each do |seminar| %>

  <div class="col-sm-6 col-md-3">
    <div class="thumbnail" style="height:300px;">
     <% if seminar.photos.exists?%>
      <%= image_tag seminar.photos.first.image.url(:medium) %>
      <%end%>
        <div class="caption">
        <h3><%= seminar.title%></h3>
        <p><%= seminar.description%></p>
        <p><%= link_to "Show", seminar_path(seminar), class: "btn btn-primary"%>
       </div>
    </div>
  </div>
<%end%>
</div>