<div class="text-center" style="padding-top:2%;">
  <h1>Seminar Search</h1>
  <div>
    <div class="container text-center" style="padding-top:2%;">
      <div class="row">
        <div class="col-md-6 well">
          <h3 style="font-weight: bold;">For attendees</h3>
          <p>Lorem ipsum dolor sit amet, eu veri repudiare assueverit sed, eu errem patrioque eam. Ne tota homero philosophia pro. Nonumes verterem necessitatibus per te, suas homero placerat pri at. Ignota malorum corpora te pri, dolorem recteque gloriatur has ut, his at primis inimicus. An unum postea disputando vix, viderer splendide ius et. Prima exerci audiam sit ex, cu dolores temporibus vim.
            Eam ipsum civibus platonem ut. Sit option fabellas referrentur ad, pro dicunt consequuntur an. Eu sit vero tincidunt, cibo petentium ut per, cu aliquam adipiscing qui. Pri eu minim consulatu disputando, ad doctus legimus usu, eu quo justo perfecto.</p>
          <div>
            <%= button_tag 'Log in',class:"btn btn-primary btn-block",id:"attendLogin","data-toggle" => "collapse", "data-target" => "#att_form_login"%>
            <div class="collapse" id="att_form_login">
              <%= render 'landing_forms/login_form'%>
            </div>
          </div>
          <div>
            <%= button_tag 'Register',class:"btn btn-info btn-block",id:"attendRegister","data-toggle" => "collapse", "data-target" => "#att_form_reg"%>
            <div class="collapse" id="att_form_reg">
              <%= render 'landing_forms/register_form'%>
            </div>
          </div>
        </div>
        <div>
          <div id ="orgDiv" class="col-md-6  well">
            <h3 style="font-weight: bold;">For organizers</h3>
            <p>Lorem ipsum dolor sit amet, eu veri repudiare assueverit sed, eu errem patrioque eam. Ne tota homero philosophia pro. Nonumes verterem necessitatibus per te, suas homero placerat pri at. Ignota malorum corpora te pri, dolorem recteque gloriatur has ut, his at primis inimicus. An unum postea disputando vix, viderer splendide ius et. Prima exerci audiam sit ex, cu dolores temporibus vim.
              Eam ipsum civibus platonem ut. Sit option fabellas referrentur ad, pro dicunt consequuntur an. Eu sit vero tincidunt, cibo petentium ut per, cu aliquam adipiscing qui. Pri eu minim consulatu disputando, ad doctus legimus usu, eu quo justo perfecto.</p>
            <div>
              <%= button_tag 'Log in',class:"btn btn-primary btn-block",id:"orgLogin","data-toggle" => "collapse", "data-target" => "#org_form_login"%>
              <div class="collapse" id="org_form_login">
                <%= render 'landing_forms/login_form'%>
              </div>
            </div>
            <div>
              <%= button_tag 'Register',class:"btn btn-info btn-block",id:"orgRegister","data-toggle" => "collapse", "data-target" => "#form_reg"%>
              <div class="collapse" id="form_reg">
                <%= render 'landing_forms/register_form'%>
              </div>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-6 pull-right">
              <%= link_to "Enter", seminars_path, class: "btn btn-success btn-block"%>
            </div>
          </div>
        </div>
        <script>
          $(document).ready(function(){
                                                       $("#attendRegister").on("click", function(){
                                                          $("#companyName").hide();
                                                          $("#companyAddress").hide();
                                                          $("#labelCName").hide();
                                                          $("#labelCAddress").hide();
                                                       });
                                                  });
        </script>
